<h2>Lärostigar</h2>

<div class='item-grid'>
    {{#each learningPaths}}
        <article class='item'>
            <div>
                <h2><b>{{title}}</b></h2>
                <p>Uppskattad tid: <i>{{estimatedHours}} timmar</i></p>
                <p><i>{{description}}</i></p>
            </div>
        </article>
    {{/each}}
</div>